<div class="container">
    <h1>LOGIN</h1>

    <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="userName" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" required type="password">
          </mat-form-field>

          <div class="actions">
            <button mat-stroked-button (click)="onClickLogin()">Login</button>
            <button mat-stroked-button (click)="onClickRegister()">Go to Register</button>
          </div>
          
        
    </form>
</div>